@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --foreground: #171717;
  --background-gradient: linear-gradient(to bottom right, #1f2937, #374151);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background-gradient: linear-gradient(to bottom right, #1f2937, #111827);
  }
}

html, body {
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: 'Inter', Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  line-height: 1.6;
  text-wrap: balance;
  padding: 0;
  margin: 0;
}
